@font-face {
    font-family: 'CustomFont';
    src: url('/Circular/CircularStd-Black.otf') format('otf');
    font-weight: normal;
    font-style: normal;
}
.margin-1{
    margin : 6px;
}
.myfont{
    font-family: 'CustomFont', sans-serif;
}
.weight1{
    font-weight: bolder;
}

.justify-content{
    justify-content: center;
}
.align-items{
    align-items: center;
}
.flex{
    display: flex;
}
.icon-size{
    width: 25px;;
}
.padding1{
    padding: 5px;
}
.fcolor1{
    color: #a7a7a7;
}
.hovering1:hover{
    background-color: #242424;
    color: white;
    
}
.hovering2:hover{
    color: white;
}
.circle{
    border-radius: 1000px;
}


html::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 0;
    display: none;
}

html.scrolling::-webkit-scrollbar-thumb {
    display: block;
}

html {
    scrollbar-width: thin;
    scrollbar-color: rgba(255, 255, 255, 0.5) transparent;
}
::-webkit-scrollbar-button {
    display: none;
  }

@keyframes scroll {
    from { opacity: 0; }
    to { opacity: 1; }
}

.scrolling::-webkit-scrollbar-thumb {
    animation: scroll 0.3s forwards; 
}

::-webkit-scrollbar-thumb {
    transition: background-color 0.3s ease;
}
.cardContainer::-webkit-scrollbar-button {
    display: none ;
}
